@import "home";

.form {
  height: 400px;
  width: 70%;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  margin-top: 30px;
  border: solid;
  border-color: lightgrey;
  padding: 16px;
}

.all-new-body-page {
  margin-top: 16px;
  text-align: center;
}

.nice-class {
  height: 15px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 10px;
}

.button {
  background-color: rgb(255, 191, 0);
  border-radius: 7px;
  border: solid rgb(220, 196, 196);
  margin-top: 0;
}

.nice-class-photo {
  font-size: 10px;
}

