<h2><%= fabric.material %></h2>
<p><%= fabric.address %></p>
      <% if fabric.photo.attached? %>
        <%= cl_image_tag(@fabric.photo.key, width: 170, crop: :fill, class:'img-fluid') %>
      <% else %>
        <img src='<%= fabric.link %>' width="170" />
      <% end %>
