<div class="all-body">
  <div class="container">
    <h1>Thank you for your order</h1>
    <div class="container-martin">
      <p>Your ordered product: <%= @purchase.fabric.content %></p>
      <p>Your delivery will arrive at your house in 4 business days!</p>
      <%= image_tag "giphy-3.gif"%>
    </div>
  </div>
</div>
