<div class="all-body">
  <div class="container">
    <h1>Thank you for your order</h1>
    <div class="container-martin">
      <p class="item-1">hey</p>
      <p class="item-2">hey</p>
      <p><%= @purchase.fabric.content %></p>
    </div>
  </div>
</div>
