
        <div class=cover>
            <h1>For the good of all</h1>
            <h3>Helping you stay on your budget while saving the envirmount</h3>
            <br>
            <a href="#about-us">Learn more </a>
        </div>
        <div class="big-title">Top sellers</div>
        <div class="cards">
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/51mO-lRlBML._AC_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">NOVELY® MUDAU | Polsterstoff</h5>
                  <p class="card-text">Eleganter & hochmoderner Möbelstoff | Flachgewebe | Grober Handwebcharakte</p>
                  <a href="fabric.html" class="btn btn-primary">Learn more</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/61EOcYow0xL.__AC_SX300_SY300_QL70_ML2_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Jute Jutestoff Sackleinen Stoff Meterware Natur</h5>
                  <p class="card-text">100% Jutestoff / Sackleinen in der Farbe: Natur</p>
                  <a href="fabric.html" class="btn btn-primary">Learn more</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="https://media.fabfab.net/images/products/popup/polsterstoff-como-curry--170_como_68.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Polsterstoff Como – curry</h5>
                  <p class="card-text">Der perfekte Stoff für dein neues Möbelstück!</p>
                  <a href="fabric.html" class="btn btn-primary">Learn more</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/71CEpI7C81L.__AC_SX300_SY300_QL70_ML2_.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Glanz SATIN Modestoff/Deko-Stoff</h5>
                  <p class="card-text">Dieser dunkel grüne Satin-Stoff, auch Faschingsseide genannt, ist seidig glänzend, hat einen weichen Griff</p>
                  <a href="fabric.html" class="btn btn-primary">Learn more</a>
                </div>
              </div>
        </div>
        <div class="big-title">About us</div>
        <img src="https://i.ibb.co/TDyxWpQ/team.jpg" alt="Team photo" class="team-photo";>
        <div id="about-us">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga tenetur officiis, esse eveniet ipsum quas possimus eligendi consectetur eaque cumque magni quasi? Eum quibusdam at eos excepturi provident explicabo natus</p>
        </div>
        <div class="footer">
            <div class="footer-raw">
                <p>Stay up-to-date</p>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i> Instagram</a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-youtube-square"></i> Youtube</a></li>
                </ul>
            </div>
            <div class="footer-raw">
                <p>Highlights</p>
                <ul>
                    <li><a href="#">Latest added products</a></li>
                    <li><a href="#">Most orders items</a></li>
                    <li><a href="#">Best selling companies</a></li>
                </ul>
            </div>
            <div class="footer-raw">
                <p>Support</p>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Report a problem</a></li>
                    <li><a href="#">Report a seller</a></li>
                    <li><a href="#">Press & Media</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-raw">
                <p>Career</p>
                <ul>
                    <li><a href="#">Open vacancies</a></li>
                    <li><a href="#">Get to know out team</a></li>
                    <li><a href="#">Our vision</a></li>

                </ul>
            </div>
        </div>
