
        <div class=cover>
            <h1>For the good of all</h1>
            <h3>Helping you stay on your budget while saving the envirmount</h3>
            <br>
            <a href="#about-us">Learn more </a>
        </div>
        <div class="big-title">Latest fabrics</div>

           <div class="cards-container">
              <% @fabrics.last(4).each do |fab| %>
              <%= link_to fabric_path(fab) do %>
                <div class="card-trip", fabric_path >
                  <img src='https://images.unsplash.com/photo-1622532470022-24107cac5ef3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=925&q=80' />
                  <div class="card-trip-infos">
                    <div>
                      <h2><%=  fab.quality %></h2>
                      <p><%= fab.content %></p>

                    </div>
                    <h2 class="card-trip-pricing"><%= fab.price %> $</h2>
                    <img src="https://images.unsplash.com/photo-1532490389938-2856e3f1560a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" class="card-trip-user avatar-bordered" />
                  </div>
                </div>
              <% end %>
              <% end %>


            </div>

        <div class="big-title">About us</div>
        <img src="https://i.ibb.co/TDyxWpQ/team.jpg" alt="Team photo" class="team-photo";>
        <div id="about-us">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga tenetur officiis, esse eveniet ipsum quas possimus eligendi consectetur eaque cumque magni quasi? Eum quibusdam at eos excepturi provident explicabo natus</p>
        </div>
        <div class="footer">
            <div class="footer-raw">
                <p>Stay up-to-date</p>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i> Instagram</a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-youtube-square"></i> Youtube</a></li>
                </ul>
            </div>
            <div class="footer-raw">
                <p>Highlights</p>
                <ul>
                    <li><a href="#">Latest added products</a></li>
                    <li><a href="#">Most orders items</a></li>
                    <li><a href="#">Best selling companies</a></li>
                </ul>
            </div>
            <div class="footer-raw">
                <p>Support</p>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Report a problem</a></li>
                    <li><a href="#">Report a seller</a></li>
                    <li><a href="#">Press & Media</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-raw">
                <p>Career</p>
                <ul>
                    <li><a href="#">Open vacancies</a></li>
                    <li><a href="#">Get to know out team</a></li>
                    <li><a href="#">Our vision</a></li>

                </ul>
            </div>
        </div>
