.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 167, 49);
}

#map {
  height: 100vh;
  position: sticky;
  max-width: 50%;
  top: 0;
  margin-left: 16px;
}
